@CHARSET "UTF-8";

input {
	background-color: #f6f6f6; /*Цвет текстового поля*/
	width: 92%;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 5px;
}

select {
	border-radius: 5px;
	border: 1px solid #cecece;
	background-color: #F6F6f6;
	width: 104px;
	padding: 4px 15px 4px 10px;
	color: #444;
	background-position: 290px -145px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

p.comment {
	font-family: Times New Roman;
	font-size: 7pt;
	font-weight: 500;
	font-style: italic;
	text-shadow: 0px 0px 1px #aaa;
	text-align: left;
}

.classname {
	-moz-box-shadow: inset -1px 1px 15px 0px #c1ed9c;
	-webkit-box-shadow: inset -1px 1px 15px 0px #c1ed9c;
	box-shadow: inset -1px 1px 15px 0px #c1ed9c;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9dce2c
		), color-stop(1, #8cb82b));
	background: -moz-linear-gradient(center top, #9dce2c 5%, #8cb82b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c',
		endColorstr='#8cb82b');
	background-color: #9dce2c;
	-webkit-border-top-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-left-radius: 7px;
	text-indent: 1px;
	border: 1px solid #83c41a;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	height: 30px;
	line-height: 30px;
	width: 133px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 0px 0px #689324;
}

.classname:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8cb82b
		), color-stop(1, #9dce2c));
	background: -moz-linear-gradient(center top, #8cb82b 5%, #9dce2c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b',
		endColorstr='#9dce2c');
	background-color: #8cb82b;
}

.classname:active {
	position: relative;
	top: 1px;
}

font {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
}
